<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN"> 
<head> 
<title>SQL2BO</title>
<meta http-equiv="Content-Type" content="text/html; charset=GBK" /> 
<meta http-equiv="Content-Language" content="zh-CN" /> 
<link rel="stylesheet" href="/static/css/basic.css" type="text/css"/> 
<script type="text/javascript" src='/static/js/jquery/jquery-1.7.2.js'></script>
<script type="text/javascript" src='/static/js/jquery/jquery.cookies.2.2.0.min.js'></script>
<link rel="stylesheet" href='/static/js/bootstrap/css/bootstrap.min.css'/>
<script src='/static/js/bootstrap/js/bootstrap.min.js'></script>

</head>
<body>
<div id="mainContent" class="wrapper">
<div class="toolName">SQL2BO</div>
	<div class="toolUsing clearfix">
	<div class="toolsTab  clearfix">
	    <ul class="nav nav-tabs">
	    	<li class='active'><a onclick="javascript:location.href='/hello'">SQL2BO</a></li>
	    </ul>
	    <div class='clear'></div>
	</div>
    <style>
		.leftBar .title,.rightBar .title{margin-bottom:10px;}
		.OptDetail{text-align:left;margin-left:10px;}
		.OptDetail li{width:120px;margin:5px 0px 10px 0px;}
		.Button input{margin:5px 0px 10px 0px;}
		#pwd{width:110px;}
	</style>
	<div class="leftBar">
		<div class="title">SQL:</div>
    	<textarea name='message' id='msg_source' value="USER_CODE VARCHAR(10)" 
    		onfocus="if(this.value=='USER_CODE VARCHAR(10)'){this.value='';};this.select();" 
    		onblur="(this.value=='')?this.value='USER_CODE VARCHAR(10)':this.value;" 
    		 class="text_source">USER_CODE VARCHAR(10)</textarea>
    </div>

	<div class="operateLR">
		<div class="OptDetail">
    		<label>分隔符:</label>
			<ul>
                <li><label for="space" class="radio"><input type="radio" name="sapce" value="sapce" checked="checked" id="aes"/>空格</label></li>
            </ul>
        </div>
		<div class="OptDetail Button">
			
    		<!-- <label class="input">密码:
    		<input type="text" id="pwd"/>
			</label> -->
			<ul>
            <li><button  class="btn btn-primary" onclick="javascript:sendData();">转化 <i class="icon-chevron-right icon-white"></i></button></li>
			</ul>
        </div>
	</div>
	
	<div class="rightBar">
		<div class="title">BO:</div>
		<textarea name='cipher' id='result' onclick="this.focus();this.select();"></textarea>
	</div>

	
</div>
</div>
<div id="footer">
	<p class="wrapper">
		SQL2BO 由 <a href="mailto:wangy_1419@bankcomm.com" target="_blank">***</a> 开发 </p>
</div>

<script>

function sendData() {
	var source = $("#msg_source").val();
	console.log("source", source);
	var post_data = {
		'content':source,
	}
	$.ajax({
		url: '/return_post' ,
		type: "POST",
		data: post_data,
		success: function (data) {
			data = JSON.parse(data);
			if (data["status"] == 1) {
				// setSceneTd(data["result"], scece_name, td);
				console.log("result", data["result"]);
				$("#result").val(data["result"]);
			} else {
				alert(data["result"]);
			}
		}
  });
}
</script>

</body>
</html>
<!-- Generated by WANGYA (Wed Nov 27 13:55:15 CST 2019) -->